<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <title>Search Page</title>
</head>
<body>
    <main class="container">
        <h1>Search Results for "{{keyword}}":</h1>
        <a href="/export?keyword={{keyword}}" target="_blank">Export jobs</a>
            <table role="grid">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Company</th>
                        <th>Location</th>
                        <th>Link</th>
                    </tr>
                </thead>
                <tbody>
                    {% for job in jobs %}
                    <tr>
                        <td>{{job.title}}</td>
                        <td>{{job.company}}</td>
                        <td>{{job.region}}</td>
                        <td>
                            <a href="{{job.link}}" target="_blank"> Go to Link &rarr;</a>
                        </td>    
                    </tr>
                    {% endfor %}
                </tbody>
            </table>     
    </main>
</body>
</html>